.ask-editor {
  background: #eee;
}
.ask-primary-keyword {
  background-color: rgba(255, 165, 00, 0.5);
}
.ask-assumption {
  background-color: rgba(218, 112, 214, 0.5);
}
.ask-secondary-keyword {
  font-weight: bold;
}
.ask-response-success {
  background-color: rgba(152, 251, 152, 0.5);
}
.ask-commented {
  color: light-dark(firebrick, gray);
}
.ask-nonterminal {
  color: blue;
}
.ask-stringliteral {
  color: brown;
  font-style: italic;
}
.ask-focus {
  background-color: rgba(255, 250, 205, 0.5);
}
.ask-parens {
  font-weight: bold;
}
.ask-typeconstructor {
  color: blue;
}
.ask-dataconstructor {
  color: red;
}
.ask-functionname {
  color: green;
}
